In [1]:
import pandas as pd

In [4]:
credit_predict_df = pd.read_csv('credit_predict.csv')

In [5]:
credit_predict_df.head()

    Income  Limit  Cards  Age  Education  Gender_Val Rating_Label
0   14.891   3606      2   34         11           0         poor
1  106.025   6645      3   82         15           1         poor
2  104.593   7075      4   71         11           0         poor
3  148.924   9504      3   36         11           1         fair
4   55.882   4897      2   68         16           0         poor