In [10]:
import pandas as pd

# I. Data Set
### I will be using the given data set (credit_predict.csv)

In [11]:
credit_predict_df = pd.read_csv('credit_predict.csv')

In [12]:
credit_predict_df.head()

    Income  Limit  Cards  Age  Education  Gender_Val Rating_Label
0   14.891   3606      2   34         11           0         poor
1  106.025   6645      3   82         15           1         poor
2  104.593   7075      4   71         11           0         poor
3  148.924   9504      3   36         11           1         fair
4   55.882   4897      2   68         16           0         poor

# II. Premilinary Analysis (35pts)

In [14]:
rows, cols = credit_predict_df.shape

In [19]:
print(f'There are {cols} columns in the data set. ')
print(f'There are {rows} rows in the data set')

NameError: name 'cols' is not defined