In [1]:
%matplotlib inline
import pandas as pd

In [3]:
caesarian_df = pd.read_csv("ds/notes/assets/caesarian.csv")
caesarian_df.head()

,Age,Delivery number,Delivery time,Blood of Pressure,Heart Problem,Caesarian
0,22,1,0,2,0,False
1,26,2,0,1,0,True
2,26,2,1,1,0,False
3,28,1,0,2,0,False
4,22,2,0,1,0,True