In [59]:
import pandas as pd
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score

In [60]:
data_frame = pd.read_csv('ds/notes/assets/tennis_numeric.csv')

In [61]:
data_frame.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy,play
0,1,0,0,85,85,0,no
1,1,0,0,80,90,1,no
2,0,1,0,83,86,0,yes
3,0,0,1,70,96,0,yes
4,0,0,1,68,80,0,yes

In [62]:
features_data_frame = data_frame.drop('play',axis=1)
features_data_frame.head() #features = numeric

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy
0,1,0,0,85,85,0
1,1,0,0,80,90,1
2,0,1,0,83,86,0
3,0,0,1,70,96,0
4,0,0,1,68,80,0

In [63]:
target_data_frame = pd.DataFrame(data_frame['play'])
target_data_frame.head() #target = string

  play
0   no
1   no
2  yes
3  yes
4  yes

In [64]:
decision_tree = tree.DecisionTreeClassifier(criterion='entropy')
decision_tree.fit(features_data_frame, target_data_frame)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [65]:
tree_print(decision_tree, features_data_frame)       # let's take a look at what the decision tree looks like

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if temperature =< 70.5:
  |  |  |then yes
  |  |  |else no
  |else yes
<------->
Tree Depth:  3

In [66]:
predict_array = decision_tree.predict(features_data_frame)            # produces an array of labels
predicted_labels = pd.DataFrame(predict_array)                        # turn it into a data frame
predicted_labels.columns = ['play']                                   # name columns the same as in target_data_frame

In [67]:
predicted_labels.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [68]:
target_data_frame.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [69]:
# check if predicted and target are both the same
predicted_labels.equals(target_data_frame)

True

In [70]:
# Accuracy of predicted model
print(f" The model accuracy is: {accuracy_score(target_data_frame, predicted_labels)}")

 The model accuracy is: 1.0

# This is part 2 of the assignment

In [71]:
data_frame = pd.read_csv('ds/notes/assets/caesarian.csv')

In [72]:
data_frame.head()

,Age,Delivery number,Delivery time,Blood of Pressure,Heart Problem,Caesarian
0,22,1,0,2,0,False
1,26,2,0,1,0,True
2,26,2,1,1,0,False
3,28,1,0,2,0,False
4,22,2,0,1,0,True

In [73]:
features_data_frame = data_frame.drop('Caesarian',axis=1)
features_data_frame.head() #features = numeric

   Age  Delivery number  Delivery time  Blood of Pressure  Heart Problem
0   22                1              0                  2              0
1   26                2              0                  1              0
2   26                2              1                  1              0
3   28                1              0                  2              0
4   22                2              0                  1              0

In [74]:
target_data_frame = pd.DataFrame(data_frame['Caesarian'])
target_data_frame.head() #target = string

   Caesarian
0      False
1       True
2      False
3      False
4       True

In [75]:
decision_tree = tree.DecisionTreeClassifier(criterion='entropy')
decision_tree.fit(features_data_frame, target_data_frame)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [76]:
tree_print(decision_tree, features_data_frame)       # let's take a look at what the decision tree looks like

if Heart Problem =< 0.5:
  |then if Age =< 21.5:
  |  |then if Age =< 18.5:
  |  |  |then if Age =< 17.5:
  |  |  |  |then True
  |  |  |  |else False
  |  |  |else True
  |  |else if Delivery number =< 2.5:
  |  |  |then if Age =< 31.5:
  |  |  |  |then if Age =< 29.5:
  |  |  |  |  |then if Age =< 28.5:
  |  |  |  |  |  |then if Age =< 27.5:
  |  |  |  |  |  |  |then if Delivery time =< 0.5:
  |  |  |  |  |  |  |  |then if Age =< 26.5:
  |  |  |  |  |  |  |  |  |then if Age =< 23.5:
  |  |  |  |  |  |  |  |  |  |then if Blood of Pressure =< 1.5:
  |  |  |  |  |  |  |  |  |  |  |then True
  |  |  |  |  |  |  |  |  |  |  |else False
  |  |  |  |  |  |  |  |  |  |else if Blood of Pressure =< 1.5:
  |  |  |  |  |  |  |  |  |  |  |then if Blood of Pressure =< 0.5:
  |  |  |  |  |  |  |  |  |  |  |  |then False
  |  |  |  |  |  |  |  |  |  |  |  |else if Delivery number =< 1.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |then False
  |  |  |  |  |  |  |  |  |  |  |  |  |else if Age =< 25.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |then False
  |  |  |  |  |  |  |  |  |  |  |  |  |  |else True
  |  |  |  |  |  |  |  |  |  |  |else True
  |  |  |  |  |  |  |  |  |else False
  |  |  |  |  |  |  |  |else if Age =< 25.5:
  |  |  |  |  |  |  |  |  |then False
  |  |  |  |  |  |  |  |  |else if Blood of Pressure =< 0.5:
  |  |  |  |  |  |  |  |  |  |then False
  |  |  |  |  |  |  |  |  |  |else if Age =< 26.5:
  |  |  |  |  |  |  |  |  |  |  |then if Delivery time =< 1.5:
  |  |  |  |  |  |  |  |  |  |  |  |then False
  |  |  |  |  |  |  |  |  |  |  |  |else False
  |  |  |  |  |  |  |  |  |  |  |else if Delivery number =< 1.5:
  |  |  |  |  |  |  |  |  |  |  |  |then True
  |  |  |  |  |  |  |  |  |  |  |  |else False
  |  |  |  |  |  |  |else False
  |  |  |  |  |  |else True
  |  |  |  |  |else False
  |  |  |  |else if Delivery number =< 1.5:
  |  |  |  |  |then if Blood of Pressure =< 1.5:
  |  |  |  |  |  |then if Blood of Pressure =< 0.5:
  |  |  |  |  |  |  |then if Age =< 34.0:
  |  |  |  |  |  |  |  |then True
  |  |  |  |  |  |  |  |else False
  |  |  |  |  |  |  |else False
  |  |  |  |  |  |else True
  |  |  |  |  |else True
  |  |  |else if Delivery time =< 1.0:
  |  |  |  |then True
  |  |  |  |else False
  |else if Blood of Pressure =< 0.5:
  |  |then True
  |  |else if Blood of Pressure =< 1.5:
  |  |  |then if Age =< 26.5:
  |  |  |  |then False
  |  |  |  |else if Delivery time =< 1.0:
  |  |  |  |  |then if Age =< 28.5:
  |  |  |  |  |  |then True
  |  |  |  |  |  |else if Age =< 34.5:
  |  |  |  |  |  |  |then if Delivery number =< 2.5:
  |  |  |  |  |  |  |  |then if Age =< 30.5:
  |  |  |  |  |  |  |  |  |then False
  |  |  |  |  |  |  |  |  |else True
  |  |  |  |  |  |  |  |else False
  |  |  |  |  |  |  |else True
  |  |  |  |  |else False
  |  |  |else if Delivery time =< 1.5:
  |  |  |  |then True
  |  |  |  |else if Delivery number =< 2.0:
  |  |  |  |  |then False
  |  |  |  |  |else True
<---------------------------------------->
Tree Depth:  14

In [77]:
predict_array = decision_tree.predict(features_data_frame)            # produces an array of labels
predicted_labels = pd.DataFrame(predict_array)                        # turn it into a data frame
predicted_labels.columns = ['Caesarian']                              # name columns the same as in target_data_frame

In [78]:
predicted_labels.head()

   Caesarian
0      False
1       True
2      False
3      False
4       True

In [79]:
target_data_frame.head()

   Caesarian
0      False
1       True
2      False
3      False
4       True

In [80]:
# check if predicted and target are both the same
predicted_labels.equals(target_data_frame)

False