In [4]:
import pandas as pd
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score

In [5]:
data_frame = pd.read_csv('ds/notes/assets/tennis_numeric.csv')

In [6]:
data_frame.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy,play
0,1,0,0,85,85,0,no
1,1,0,0,80,90,1,no
2,0,1,0,83,86,0,yes
3,0,0,1,70,96,0,yes
4,0,0,1,68,80,0,yes

In [7]:
features_data_frame = data_frame.drop('play',axis=1)
features_data_frame.head() #features = numeric

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy
0,1,0,0,85,85,0
1,1,0,0,80,90,1
2,0,1,0,83,86,0
3,0,0,1,70,96,0
4,0,0,1,68,80,0

In [8]:
target_data_frame = pd.DataFrame(data_frame['play'])
target_data_frame.head() #target = string

  play
0   no
1   no
2  yes
3  yes
4  yes

In [9]:
decision_tree = tree.DecisionTreeClassifier(criterion='entropy')
decision_tree.fit(features_data_frame, target_data_frame)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [10]:
tree_print(decision_tree, features_data_frame)       # let's take a look at what the decision tree looks like

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if humidity =< 95.5:
  |  |  |then no
  |  |  |else yes
  |else yes
<------->
Tree Depth:  3

In [11]:
predict_array = decision_tree.predict(features_data_frame)            # produces an array of labels
predicted_labels = pd.DataFrame(predict_array)                        # turn it into a data frame
predicted_labels.columns = ['play']                                   # name columns the same as in target_data_frame

In [12]:
predicted_labels.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [13]:
target_data_frame.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [14]:
# check if predicted and target are both the same
predicted_labels.equals(target_data_frame)

True

In [15]:
# Accuracy of predicted model
print(f" The model accuracy is: {accuracy_score(target_data_frame, predicted_labels)}")

 The model accuracy is: 1.0

# This is part 2 of the assignment

In [17]:
data_frame = pd.read_csv('/ds/notes/assets/caesarian.csv')

FileNotFoundError: [Errno 2] File b'/ds/notes/assets/caesarian.csv' does not exist: b'/ds/notes/assets/caesarian.csv'